.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
application.yml

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### Firebase ###
todolist-yuyuyuyuyu-firebase-adminsdk.json